<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id = "Menu">

    <div style = "display:flex;justify-content: space-between;"> 
      <img id = "govIcon" src = "../images/gov.jpg">
      <h1 style = "margin-left:25px;">
        Florin GOV Events</h1>
      </div>
    <nav>
      <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a>Events</a></li>
        <li style = "color:purple;">Recycling</li>
        <li><a href="../views/jobs.html">Jobs</a></li>
      </ul>
    </nav>
    <a href = "" id = "signup">Sigh-Up/Login</a>
  </section>
  <h1>Recycling</h1>
</body>
</html>