<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "../css/style.css">
  <title>Login/SighUp</title>

</head>
<body>
  
<section id = "mainBody">
  <section class = "centreDis"> 
    <img id = "govImg" src="../images/clipart4620865.png" id= "">
    <h1 style = "font-size: 3em;" id = "RegHeader">Sign-up</h1>
    <form id = "disForm">
     <div class = "space">
       <label id = "usernameLabel" for = "Username"><strong>Username:</strong></label>
       <input id = "userInput" type = "text" name = "Username">
      </div>
     <div class = "space">
       <label id= "passwordLabel" for = "Password"><strong>Password:</strong></label>
       <input id = "passwordInput" type = "password" name = "Password">
      </div>
     
      <input id = "submitBtn" type = "submit" value = "Submit">
    </form>
    <button id = "SignupSwitcher" onclick="userSwitch()">Want To Login?</button>
  </section>
</section>

<script src="../js/signup.js"></script>
</body>
</html>